@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    background: #f2efe9;
}

.container {
    margin-top: 100px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: #e9e4db 0px 0px 50px;
    background-color: #e9e4db;
    border-radius: 25% 24% 25% 3%;
}

.container h1 {
    padding: 50px;
    font-family: 'Poppins', sans-serif;
}

.container form {
    width: 1000px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px;
    margin-top: 20px;
    font-size: 17px;
    font-weight: bolder;
}

.container form input {
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: 1px 1px 30px #d3cec5;
    border-radius: 24px;
    height: 44px;
    padding-left: 40px;
    outline: none;
}

.container form .user_name {
    padding: 10px;
}

.container form .mail {
    padding: 10px;
}

.container form .pass {
    padding: 10px;
}

.container button {
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: 1px 1px 30px #d3cec5;
    border-radius: 24px;
    height: 44px;
    width: 100px;
    outline: none;
}

.container button:hover {
    background: #dfe1e5;
}